body{
    background-color: #000;
}
div{
    background-color: #1c1c1c;
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    line-height: 1.8;
    border-radius: 10px;    
}
.white{
    color: whitesmoke;
}
#Credits{
    color: whitesmoke;

}

